*{
    background: rgb(26,77,35);
background: linear-gradient(90deg, rgba(26,77,35,0.9451219512195121) 0%, rgba(214,210,184,1) 0%);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#expense-container {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

#expense-header {
    background-color: #007bff;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#expense-list {
    padding: 20px;
    overflow-y: auto;
    max-height: 300px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.expense-item:hover {
    background-color: #f8f9fa;
}

.expense-item div {
    flex-grow: 1;
}

.expense-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
}

#expense-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}